body {
  background-color: #5da82f;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 20px solid red;
}

img {
  width: 15%;
}

.red_font {
  color: #bc001f;
}

.tiny_text {
  font-size: 11px;
  color: #5da82f;
}